{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses Index</title>
{#    <link rel="stylesheet" type="text/css" href="{% static 'connect_app/reset.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'connect_app/course_index.css' %}">
</head>
<body>
    {% if courses %}
        <h2>Courses</h2>
        <ul>
            {% for course in courses %}
                <li><a id="btn" href="{% url 'connect_app:detail' course.crn%}">{{ course.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>