{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'connect_app/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'connect_app/courses_edit.css' %}">
{% endblock %}

{% block body %}
    <div id="header">
        <a href="{% url 'connect_app:index' %}"><h2 id="home">Classmate Connect</h2> </a>
    </div>
    <div id="container">
        <p>{{ message }}</p>
        <h2>Courses</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Finish</button>
        </form>
    </div>
{% endblock %}