{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ course.title }} Details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'connect_app/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'connect_app/detail.css' %}">
</head>
<body>
    <div id="header">
        <h2>Classmate Connect</h2>
    </div>
    <div id="container">
        <h2><strong>{{ course.title }}</strong></h2>
        <div id="details">
            <table>
                <tr>
                    <th>Course</th>
                    <th>Info</th>
                </tr>
                <tr>
                    <td>Course CRN</td>
                    <td>{{ course.crn }}</td>
                </tr>
                <tr>
                    <td>Course Number</td>
                    <td>{{ course.course_number }}</td>
                </tr>
                <tr>
                    <td>Course Section</td>
                    <td>{{ course.section_number }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div  id="students">
        <table>
            <tr>
                <th><h2>Students</h2></th>
            </tr>
            {% if course.students %}
                {% for student in course.students.all %}
                <tr>
                        <td> {{ student.username }} </td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
    <div id="footer">
        <h4>Made by Benjamin Greenberg and Daniel Troutman</h4>
    </div>
</body>
</html>