<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ course.title }} Details</title>
</head>
<body>
    <h2><strong>{{ course.title }}</strong></h2>
    <ul>
        <li>{{ course.crn }}</li>
        <li>{{ course.course_number }}</li>
        <li>{{ course.section_number }}</li>
    </ul>
    <h3>Students</h3>
    {% if course.students %}
        <ul>
            {% for student in course.students.all %}
                <li> {{ student.name }} </li>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>