{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classmate Connect Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'connect_app/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'connect_app/index.css' %}">
</head>
<body>
    <div id="header">
        <a href="{% url 'connect_app:index' %}"><h2 id="home">Classmate Connect</h2> </a>
    </div>
    <div id="container">
        <div id="menu">
            <ul>
                <li><a href="{% url 'connect_app:courses' %}"><button id="btn"> Courses Index </button></a></li>
                {% if requst.user.is_authenticated %}
                    <li>Hi {{ request.user.username }}!</li>
                    <li><a href="{% url 'logout' %}"><button id="btn"> Student Logout </button></a></li>
                {% else %}
                    <li><a href="{% url 'login' %}"><button id="btn"> Student Login </button></a></li>
                    <li><a href="{% url 'connect_app:signup' %}"><button id="btn"> Sign Up </button></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div id="footer">
        <h4>Made by Benjamin Greenberg and Daniel Troutman</h4>
    </div>
</body>
</html>