{% extends 'base.html' %}

{% block head %}
    <title>Student Profile</title>
{% endblock %}

{% block body %}
    <h2>Courses Page</h2>
    <a href="{% url 'connect_app:courses' %}"> Courses Index </a>
    <div class="align-left">
        {% if student.courses %}
            <h3>{{ student.first_name }} {{ student.last_name }}'s Courses:</h3>
            <ul>
                {% for course in student.courses.all %}
                    <li><a href="{% url 'connect_app:detail' course.crn %}">{{ course.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="align-right">
        {% if student.classmates %}
            <h3>Students That Share Classes with You:</h3>
            <ul>
                {% for student, classes in student.temp_classmates %}
                    <li>{{ student.first_name }} {{ student.last_name }}: {{ classes }}</li>
                {% endfor %}
            </ul>

        {% endif %}
    </div>
    <a href="{% url "logout" %}" class="button">Logout</a>

{% endblock %}