{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Student Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'connect_app/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'connect_app/profile.css' %}">
{% endblock %}

{% block body %}
    <div id="header">
            <h2>Classmate Connect</h2>
    </div>
    <div id="container">
        {% if student.courses %}
            <h3>{{ student.first_name }} {{ student.last_name }}'s Courses:</h3>
            <ul>
                {% for course in student.courses.all %}
                    <li><a id="btn" href="{% url 'connect_app:detail' course.crn %}">{{ course.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <a id="btn" href="{% url 'connect_app:add_courses' %}">Add Courses</a> |
        <a id="btn" href="{% url 'connect_app:remove_courses' %}">Remove Courses</a>
    </div>
    <div id="classmates">
            <h3>Students That Share Classes with You:</h3>
            <ul>
                {% for classmate, classes in student.temp_classmates %}
                    <li>{{ classmate.first_name }} {{ classmate.last_name }}: {{ classes }}</li>
                {% endfor %}
            </ul>
    </div>
    <div id="footer">
        <h2>Courses Page</h2>
        <a id="btn" href="{% url 'connect_app:courses' %}"> Courses Index </a>|
        <a id="btn" href="{% url 'connect_app:changeinfo' %}">Change Information</a>|
        <a id="btn" href="{% url "logout" %}" class="button">Logout</a>
    </div>

{% endblock %}