{% extends 'base.html' %}

{% block head %}
    <title>Student Profile</title>
{% endblock %}

{% block body %}
    <h2>Courses Page</h2>
    <a href="{% url 'connect_app:courses' %}"> Courses Index </a>
x    {% if request.user.courses %}
        <h3>{{ request.user.first_name }} {{ request.user.last_name }} Courses:</h3>
        <ul>
            {% for course in request.user.courses.all %}
                <li><a href="{% url 'connect_app:detail' course.crn %}">{{ course.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if request.user.classmates %}
        <h3>Students That Share Classes with You:</h3>
        <ul>
            {% for student in request.user.classmates.all %}
                <li>{{ student.first_name }} {{ student.last_name }}: {# Number of Shared Classes #}</li>
            {% endfor %}
        </ul>

    {% endif %}
    <a href="{% url "logout" %}" class="button">Logout</a>

{% endblock %}