/*CSS for course_index page*/

body{
    background-color: lightslategrey;
    font-family: sans-serif;
    height: 100%;
}

#header{
    position: absolute;
    width: 100%;
    height: 55px;
    text-align: left;
    color: white;
    background-color: #0072C6;
}

#header h2{
    font-size: 40px;
    margin: 5px;
}

#container{
    padding-top: 60px;
    padding-left: 10px;
}

#container h3{
    font-size: 30px;
    margin: 5px;
    color: white;
}



#btn {
    font: bold 10px "Comic Sans MS";
    text-decoration: none;
    background-color: #0072C6;
    color: white;
    border-radius: 4px 4px 4px 4px;
    padding: 5px 3px 5px 3px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    display: inline-block;
    margin: 3px;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: right;
    color: white;
    background-color: #0072C6;
}

#footer h4 {
    margin: 8px;
}