/*CSS page for Index*/

/*HTML Elements*/
body{
    background-color: lightslategray;
    font-family: sans-serif;
    height: 100%;
}

#header{
    position: absolute;
    width: 100%;
    height: 55px;
    text-align: left;
    color: white;
    background-color: #0072C6;
}

#header h2{
    font-size: 40px;
    margin: 5px;
}

#container{
    padding-top: 60px;
}

#menu{
    display: table;
    margin: 0 auto;
}
#menu ul{
	list-style: none;
	padding: 20px;
}
#menu li{
    display: inline;
    padding: 40px;
}

#btn{
    width: 7em;
    height: 60px;
    font-size: 22px;
    color: white;
    text-align: center;
    background: #0072C6;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: right;
    color: white;
    background-color: #0072C6;
}

#footer h4 {
    margin: 8px;
}



